body{
    background-color: #050050;
}

.main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.myTitle{
    color: #fff;
    font-weight: 400;
}

.blocks-container{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* 每行 9 個等寬欄 */
    /* gap: 10px; */
}

.unOpened{
    background-color: #aaa;
    border: 4px solid;
    border-color: #fff #555 #555 #fff;
}

.flag{
    background-image: url("./assets/images/flag.png");
    background-size: contain;
}

.questionMark{
    background-image: url("./assets/images/question-mark.png");
    background-size: contain;
}

.opened{
    background-color: #8895b4;
    border: 4px solid #444;
}

@font-face {
    font-family: 'digital7';
    src: url('./assets/fonts/digital7/digital-7.ttf');
}

.timer {
    font-family: 'digital7';
    color: #fff;
    font-size: 42px;
}

.restartButton{
    margin-top: 30px;
    padding: 8px 25px;
    background-color: #100880;
    border: 2px solid #fff;
    color: #fff;
    text-indent: 2px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
}

.popUpBox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    z-index: 10;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-message {
    text-align: center;
}

.pop-confirm {
    background-color: #fff;
    border: 2px solid transparent;
    color: #100880;
    margin-top: 20px;
    padding: 5px 15px;
}

@media (max-width: 768px) {
    .timer {
        font-size: 42px;
    }
}