*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* colors */
:root {
    --primary: #050050;
    --primary-light: #100880;
    --primary-lighter:  #8895b4;
    --secondary: #fff;
    --secondary-dark: #aaa;
    --secondary-darker: #555;
    --secondary-darkest: #333;
}

/* 共用class */
.no-select{
    user-select: none;
}

.click-effect:active{
    scale: 0.9;
}

.blocks-hover-effect:hover{
    filter: brightness(0.7);
}

/* 個別樣式 */
body{
    background-color: var(--primary);
}

.main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.myTitle{
    color: var(--secondary);
    font-weight: 400;
}

.blocks-container{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* 每行 9 個等寬欄 */
    background-color: var(--secondary-darkest);
}

.unOpened{
    background-color: var(--secondary-dark);
    border: 4px solid;
    border-color: var(--secondary) var(--secondary-darker) var(--secondary-darker) var(--secondary);
}

/* .unOpened:active{
    scale: 0.9;
} */

.flag{
    background-image: url("./assets/images/flag.png");
    background-size: contain;
}

.questionMark{
    background-image: url("./assets/images/question-mark.png");
    background-size: contain;
}

.opened{
    background-color: var(--primary-lighter);
    border: 4px solid var(--secondary-darkest);
}

@font-face {
    font-family: 'digital7';
    src: url('./assets/fonts/digital7/digital-7.ttf');
}

.timer {
    font-family: 'digital7';
    color: var(--secondary);
    font-size: 42px;
    font-weight: 500;
    margin: 15px auto;
}

.restartButton{
    margin-top: 30px;
    padding: 8px 25px;
    background-color: var(--primary-light);
    border: 2px solid var(--secondary);
    color: var(--secondary);
    text-indent: 2px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.restartButton:hover{
    filter: brightness(1.5);
}

.popUpBox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: var(--secondary);
    font-weight: 600;
    z-index: 10;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-message {
    text-align: center;
}

.pop-confirm {
    background-color: var(--secondary);
    border: 2px solid transparent;
    color: var(--primary-light);
    margin-top: 20px;
    padding: 5px 15px;
}

@media (max-width: 768px) {
    .timer {
        font-size: 42px;
    }
}

.links{
    margin-top: 20px;
}

.github_link{
    text-decoration: none;
    color: var(--secondary-dark);
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}